@charset "UTF-8";
html,
body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  min-height: 100vh; }

/*Полоса прокрутки*/
body::-webkit-scrollbar {
  width: .8rem; }

body::-webkit-scrollbar-thumb {
  background-color: #B10802;
  outline: 1px solid #B10802; }

body {
  font-family: 'Open Sans', sans-serif; }

p {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: #fff; }

a:hover {
  text-decoration: none;
  color: #fff; }

.weightDefault {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px; }

.top-txt {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px; }

.upper {
  text-transform: uppercase; }

.special-offer__txt {
  text-align: center;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.205em; }

.special-offer__close {
  font-size: 30px; }

.myNavLink {
  font-weight: 400 !important;
  font-size: 18px !important;
  line-height: 25px !important;
  color: #fff !important;
  letter-spacing: 0.06em !important;
  text-transform: uppercase !important; }

.myLinkAbout {
  font-style: normal !important;
  font-weight: 100 !important;
  font-size: 18px !important;
  line-height: 25px !important;
  color: #fff !important; }

.footerTxt {
  font-size: 14px !important;
  line-height: 19px !important;
  color: #fff !important; }

.footer-title {
  text-align: center !important;
  text-transform: uppercase !important;
  margin-bottom: 10px !important; }

.delivery-txt:not(:last-child) {
  margin-bottom: 14px !important; }

.pay-txt:not(:last-child) {
  margin-bottom: 14px !important; }

.special-txt {
  font-size: 20px;
  font-weight: 300;
  font-style: italic; }

.big-txt {
  font-size: 30px; }

.flowers-txt {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #343434; }

.flowers-price {
  font-size: 24px;
  line-height: 33px; }

.myBtn {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.27em;
  text-transform: uppercase; }

.title-default {
  font-size: 36px;
  line-height: 49px;
  letter-spacing: 0.1em;
  color: #B10802; }

.footer-container {
  background-color: #333; }

.footer-navbar {
  max-width: 990px !important;
  margin: 0 auto; }

.bottom-box__pin {
  width: 12px;
  height: 16px; }

.bottom-box__phone {
  width: 16px;
  height: 16px; }

.bottom-box__townName {
  color: #B10802; }

.bottom-box__number {
  color: #B10802; }

.basket__img {
  position: relative; }

.ellipse {
  position: absolute;
  top: -12px;
  right: -8px; }

.special-offer {
  position: relative;
  width: 100%;
  background: #028B0B;
  box-shadow: 0px 5px 31px rgba(0, 0, 0, 0.4); }
  .special-offer__close {
    position: absolute;
    right: 14px;
    top: 4px;
    cursor: pointer; }
  .special-offer__txt {
    width: 100%; }

.dropdown-toggle::after {
  display: none; }

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; }

.myNavBar {
  background-color: #B10802; }

.navbar {
  padding: 10px !important; }

.nav-link:hover {
  background-color: #8b0000 !important; }

.dropdown-menu {
  background-color: #B10802 !important;
  border: none !important;
  border-radius: 0 !important; }

.navbar-toggler {
  color: #fff !important;
  border-color: #fff !important; }

.dropdown-item:focus,
.dropdown-item:hover {
  background-color: #8b0000; }

.navbar-nav .nav-link {
  padding-left: 10px !important; }

.myCards {
  position: relative;
  background: #fff;
  height: 350px; }

.myContainer {
  position: absolute;
  width: 92%;
  height: inherit;
  transition: all 0.3s linear; }

.myCards:hover .myContainer {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 9999;
  background-color: #fff;
  height: auto; }

.myCards__btn {
  display: none !important; }

.cardContainer {
  margin: 0 auto;
  margin-bottom: 100px !important; }

.myCards:hover .myCards__btn {
  display: flex !important; }

.myCards:hover .myContainer {
  margin-top: 40px; }

.myCards:hover .size {
  display: none; }

.myBtn {
  width: 250px;
  margin: 0 auto;
  height: 50px;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: #fff;
  border: 2px solid #B10802;
  transition: all 0.5s linear; }

.myBtn:hover {
  color: #fff;
  background-color: #B10802; }

.feature {
  position: absolute;
  top: 60%;
  color: #fff;
  font-size: 18px;
  line-height: 33px;
  width: 250px;
  text-transform: uppercase;
  z-index: 100000; }

.feature__txt {
  margin: 0;
  text-align: center; }

.slider__item {
  height: 30vw !important;
  min-height: 250px !important; }

.size {
  position: absolute;
  top: 27px;
  color: grey;
  right: 59px;
  font-size: 12px;
  text-transform: uppercase;
  display: flex;
  font-size: 16px; }

.size__left {
  background: url(../img/w.png) no-repeat;
  background-position: 0px 20px; }

.size__left--txt {
  width: 30px;
  height: 30px;
  text-align: center !important; }

.size__right {
  background: url(../img/h.png) no-repeat; }

.size__right--txt {
  padding-left: 6px; }

img.imgW {
  width: 250px !important; }

.myLink {
  color: #B10802 !important; }

.main-slider-container {
  position: relative; }

.next {
  position: absolute;
  top: 45%;
  right: 20px; }

.prev {
  position: absolute;
  top: 45%;
  left: 20px; }

.padNone {
  padding-right: 0px !important;
  padding-left: 0px !important; }

.slick-dots {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 10px 0;
  list-style-type: none; }
  .slick-dots li {
    margin: 0; }
  .slick-dots button {
    display: block;
    width: 10px;
    height: 10px;
    padding: 0;
    border: none;
    border-radius: 100%;
    background-color: rgba(177, 8, 2, 0.5) !important;
    text-indent: -9999px; }
  .slick-dots li.slick-active button {
    background-color: #B10802 !important; }

.first-sl {
  background: url(../img/image.png) no-repeat center;
  background-size: cover; }

.second-sl {
  background: url(../img/image.png) no-repeat center;
  background-size: cover; }

.third-sl {
  background: url(../img/image.png) no-repeat center;
  background-size: cover; }

.slider-for__itemN {
  height: 570px !important; }

.slider-nav__itemN {
  width: 170px !important;
  height: 170px !important; }

.slider-nav__itemN:focus {
  border: 2px solid #B10802 !important; }

.slider-nav__itemN:active {
  border: 2px solid #B10802 !important; }

.slider-nav__itemN:active {
  border: 2px solid #B10802 !important; }

.slider-nav__itemN:focus {
  border: 2px solid #B10802 !important; }

.slider-nav__itemN:not(:last-child) {
  margin-bottom: 30px; }

.slider-navN .slick-list {
  height: auto !important;
  padding: 0 !important; }

.mc {
  margin: 0 auto; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; }

input[type="number"] {
  -moz-appearance: textfield; }

.quantity {
  margin: auto;
  font-size: 20px;
  display: flex;
  align-items: center; }

.quantity-arrow-minus,
.quantity-arrow-plus {
  cursor: pointer; }

.quantity-num {
  outline: none;
  width: 50px !important;
  text-align: center; }

.big-first {
  background: url(https://s1.1zoom.me/big0/772/360540-svetik.jpg) no-repeat 100%;
  background-size: cover; }

.big-second {
  background: url(https://s1.1zoom.me/big0/772/360540-svetik.jpg) no-repeat 100%;
  background-size: cover; }

.big-third {
  background: url(https://img3.goodfon.ru/original/800x480/a/6a/koshka-zabor-fon-3676.jpg) no-repeat 100%;
  background-size: cover; }

.littel-first {
  background: url(https://i.ytimg.com/vi/sMrQVcZVybg/hqdefault.jpg) no-repeat 100%;
  background-size: cover; }

.littel-second {
  background: url(https://i.ytimg.com/vi/sMrQVcZVybg/hqdefault.jpg) no-repeat 100%;
  background-size: cover; }

.littel-third {
  background: url(https://img3.goodfon.ru/original/800x480/a/6a/koshka-zabor-fon-3676.jpg) no-repeat 100%;
  background-size: cover; }

.product-description__title {
  width: 100%;
  text-align: center;
  background-color: #79CB00;
  font-size: 20px;
  letter-spacing: 0.27em;
  color: #fff;
  text-transform: uppercase;
  padding: 6px 0 6px 0; }

.product-description__name {
  font-size: 30px;
  line-height: 49px;
  letter-spacing: 0.075em;
  color: #333; }

.product-description__box {
  display: flex; }
  .product-description__box--price {
    font-size: 30px;
    line-height: 49px;
    letter-spacing: 0.075em;
    color: #B10802; }

.composition-title {
  color: #B10802;
  font-style: italic;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px; }

.reviews__item {
  padding: 25px 28px 25px 28px;
  width: 30%; }

.reviews-title {
  color: #333 !important; }

.reviews__item--name {
  font-size: 16px;
  font-style: italic;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0.075em;
  color: #000; }

.reviews__item--date {
  font-size: 10px;
  line-height: 16px;
  color: #333; }

.reviews__item--txt {
  font-size: 18px;
  line-height: 25px;
  color: #333; }
