body {
    font-family: 'Open Sans', sans-serif;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: $white;
}

a:hover {
    text-decoration: none;
    color: $white;
}

.weightDefault {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
}

.top-txt {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
}

.upper {
    text-transform: uppercase;
}

.special-offer {

    &__txt {
        text-align: center;
        font-size: 24px;
        line-height: 33px;
        letter-spacing: 0.205em;
    }

    &__close {
        font-size: 30px;
    }
}

.myNavLink {
    font-weight: 400 !important;
    font-size: 18px !important;
    line-height: 25px !important;
    color: $white !important;
    letter-spacing: 0.06em !important;
    text-transform: uppercase !important;
}

.myLinkAbout {
    font-style: normal !important;
    font-weight: 100 !important;
    font-size: 18px !important;
    line-height: 25px !important;
    color: $white !important;
}

.footerTxt {
    font-size: 14px !important;
    line-height: 19px !important;
    color: $white !important;
}

.footer-title{
    text-align: center !important;
    text-transform: uppercase !important;
    margin-bottom: 10px !important;
}

.delivery-txt:not(:last-child){
    margin-bottom: 14px !important;
}

.pay-txt:not(:last-child){
    margin-bottom: 14px !important;
}
