.myCards {
    position: relative;
    background: #fff;
    height: 350px;
}

.myContainer {
    position: absolute;
    width: 92%;
    height: inherit;
    transition: all 0.3s linear;
}

.myCards:hover .myContainer {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 9999;
    background-color: #fff;
    height: auto;
}

.myCards__btn {
    display: none !important;
}

.cardContainer {
    margin: 0 auto;
}

.myCards:hover .myCards__btn {
    display: flex !important;
}

.myBtn {
    width: 250px;
    margin: 0 auto;
    height: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #fff;
    border: 2px solid $red;
    transition: all 0.5s linear;
}

.myBtn:hover {
    color: #fff;
    background-color: $red;
}

.feature {
    position: absolute;
    top: 60%;
    color: #fff;
    font-size: 18px;
    line-height: 33px;
    width: 250px;
    text-transform: uppercase;
    z-index: 100000;
    margin-left: -1px;
}

.feature__txt {
    margin: 0;
    text-align: center;
}

.slider__item{
    height: 30vw !important;
    min-height: 250px !important;
}

.size {
    position: absolute;
    top: 27px;
    color: grey;
    right: 59px;
    font-size: 12px;
    text-transform: uppercase;
    display: flex;
    font-size: 16px;
}

.size__left {
    background: url(../img/w.png) no-repeat;
    background-position: 0px 20px;
}

.size__left--txt {
    width: 30px;
    height: 30px;
    text-align: center !important;
}

.size__right {
    background: url(../img/h.png) no-repeat;
}

.size__right--txt {
    padding-left: 6px;
}

img.imgW {
    width: 250px !important;
}

.myLink {
    color: $red !important;
}


.main-slider-container {
    position: relative;
}

.next {
    position: absolute;
    top: 45%;
    right: 20px;
}

.prev {
    position: absolute;
    top: 45%;
    left: 20px;
}

.padNone {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.slick-dots {
	display: flex;
	justify-content: center;
	
	margin: 0;
	padding: 10px 0;
	
	list-style-type: none;
	
		li {
			margin: 0 ;
		}
	
		button {
			display: block;
			width: 10px;
			height: 10px;
			padding: 0;
			
			border: none;
			border-radius: 100%;
			background-color: $pink !important;
			
			text-indent: -9999px;
		}
	
		li.slick-active button {
			background-color: $red !important;
		}
}
